:root {
  --color-bg: #f5f5f6;
  --color-black: #1c1c1c;
  --color-white: #fff;
  --color-red: #ed131c;
  --color-blue: #0d2ec8;
  --color-blue-hover: #031fa0;
  --color-blue-dark: #0124c6;
  --color-grey: #666;
  --color-grey-dark: #3a3a3a;
  --color-grey-light: #ecedf0;
  --color-grey-medium: #e0e1e5;
  --color-grey-line: #cacacb;
  --color-grey-text: #7e7f81;
}
